.B-button {
    position: sticky;
    left: 48%;
    width: 4rem;
    height: 1.5rem;
    background: #94f887;
    border: .15rem solid #f00;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
};