.list__cards{
    display: flex;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-gap: 2rem;
    background-color: #1c1919;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
    font-variant-caps: small-caps;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
};
